*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}

.trending4, .trending3, .trending1,.trending2, .profile-pic  {
    width: 50px;
}


.search,  .home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    width: 15px;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;
    /* grid-auto-flow: column; */
    background-color: azure;
    background-size: cover;
}

.sidebar {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-template-rows: .1fr .3fr .9fr;
    background: #3d6fc4;
    color: #ffff;
    
}




.dashboard {
    width: 15%;
    margin-left: .8rem;
    filter: invert(100%) sepia(0%) saturate(211%) hue-rotate(0deg) brightness(107%) contrast(101%);
}

.side1 > h3 {
    position: absolute;
    top: 1rem;
    left: 3rem;
}

.side1{
    margin-top: 1rem;
}

.side2, .side3 {
    margin: 10px 20px;   
}


#li {
    margin-bottom: .8rem;
   
}

#li:hover {
    margin-bottom: 0.8rem;
    cursor: pointer;
    color: aquamarine;
}


.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    margin-right: .4rem;
    filter: invert(100%) sepia(0%) saturate(211%) hue-rotate(0deg) brightness(107%) contrast(101%); 
}




.header {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-columns: 3fr 1fr;
    box-shadow: 2px 4px gainsboro;
    background: #e8c656;
    margin-bottom: 3rem;
    
}

.left , .right{
 margin-top: 1rem;
}

.bar {
     margin-left: .3rem;
     border-radius: .5rem;
     border: none;
     width: 600px;
     height: 2rem;
}

.search{
    margin-left: 2rem;

}

.right {
    display: grid;
    grid-template-columns: .3fr .4fr .1fr;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.bell {
    width: 30px;
}

.profile-pic {
    border-radius: 15rem;
}

 .greetings {
    display: grid;
    grid-template-columns: 8% 0% ;    
    margin-left: 3rem;
    margin-bottom: 1rem;
}

#hey {
    justify-self: center;
    margin-left: 12rem;
} 

.links {
    display: flex;    
}


.links ul{
display: flex;
gap: 1rem;
}

.links ul li{
    border: 1px solid #3d6fc4;
    height: 1.5rem;
    padding: rem;
    border: none;
       
}

.links ul li a{
    color: #ffff;
    line-height: 1rem;
    background: #3d6fc4;
    line-height: .4rem;
    padding: 5px 10px;
    border-radius: .9rem;
    font-weight: bold
}

.main-content {
    grid-column: 2;
    padding: 0 32px 32px;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
    column-gap: 48px;
    letter-spacing: 0.5px;
  }
  
  .projects {
    grid-row: span 2;
  }
  
  .projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
  }
  
  .projects h4 {
    margin-bottom: 8px;
  }
  
  .card {
    border-left: 8px solid #2ba7bd;
    border-radius: 8px;
    padding: 24px 16px;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .card p {
    margin: 0;
  }
  
  .card .project-name {
    font-weight: 700;
  }
  
  .card .project-description {
    font-size: 0.9rem;
    font-weight: 200;
  }
  
  .card .icons {
    margin-top: 16px;
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 32px;
    margin-right: 16px;
  }
  
  .trending,
  .announcements {
    grid-column: 2;
  }
  
  .trending h4,
  .announcements h4 {
    margin-bottom: 8px;
  }
  
  .announcements h5 {
    margin: 8px 0 0;
  }
  
  .announcements p {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1rem;
  }
  
  .announcements > div {
    background-color: white;
    border-radius: 8px;
    padding: 16px 32px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .announcements > div > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  
  .announcements > div > div:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
  
  .trending > div {
    background-color: white;
    padding: 4px 32px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .trending > div > div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 32px 0;
    column-gap: 16px;
  }
  
  .trending .profile-image {
    grid-row: 1 / span 2;
    width: 20px;
    border-radius: 2rem;
  }
  
  .trending .profile-name,
  .trending .description {
    grid-column: 2;
    margin: 0;
  }
  
  .trending .profile-name {
    font-size: 0.9rem;
  }
  
  .trending .description {
    font-size: 0.8rem;
    font-weight: 200;
  }
